<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body>
<h1>{{ .Title }}</h1>
{{ .Content }}

{{$siteUrl := "https://api.publicapis.org/entries"}}
{{$siteData := getJSON (resources.GetRemote $siteUrl (dict 
  "method" "get"
)).Permalink}}

{{$infoUrl := "https://api.publicapis.org/random"}}
{{range $siteData.entries}}
 {{$slug := .API}}
 {{$cmpData := getJSON (resources.GetRemote $infoUrl (dict 
  "method" "get"
)).Permalink}}
{{ $ctx := dict
  "Title"  ($slug | $.Page.RenderString)
  "Content" .Description
  "Site" site
}}

{{ $page := partial "remote.html" $ctx }}
{{ $targetPath := path.Join "remote" $slug | urlize }}
{{ $href := (resources.FromString $targetPath $page).RelPermalink }}
<h2><a href="{{ $href }}">{{ $slug }}</a></h2>

{{end}}

</body>
</html>
