{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .Params.details }}
    <p>Details: <a href="{{ . }}">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.description }}
    <p>Description: {{ . }}</p>
  {{ end }}
  {{ .Content }}

  {{ $p := where site.RegularPages "Type" "post" }}
  {{ partial "views/archive/init.html" (dict "pageCollection" $p "format" "default" "slug" "posts/archive") }}

  {{/*
  {{ partial "views/archive/init.html" $p }}
  {{ partial "views/archive/init.html" (dict "pageCollection" $p) }}
  {{ partial "views/archive/init.html" (dict "pageCollection" $p "format" "default") }}
  {{ partial "views/archive/init.html" (dict "pageCollection" $p "format" "default" "slug" "archive") }}
  */}}

{{ end }}
